@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #393127;
  --secondary-color: #f5ebe0;
  --white-color: #fff;
  --primary-shadow-color: #493e31b3;
  --secondary-shadow-color: #f5ebe0b3;
  --s: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Protest Riot", sans-serif;
  scroll-behavior: smooth;
  background-color: var(--secondary-color);
}

h1, p {
  margin: 0;
}

section {
  min-height: 100vh;
  position: relative;
}

.navbar .navbar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 999;
}

.navbar .side-menu,
.navbar .navbar-menu .hideOnDesktop {
  display: none;
}

.navbar ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar .navbar-menu li a {
  font-size: 20px;
  text-decoration: none;
  color: var(--primary-color);
  transition: .5s ease-in-out;
  position: relative;
}

.navbar .navbar-menu li a:hover {
  transform: scale(1.1);;
  text-shadow: 0px 5px 10px var(--primary-shadow-color);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
}

/* about */
.greeting-word, .family-name {
  font-size: 60px;
  letter-spacing: 5px;
  color: var(--primary-color);
  text-shadow: var(--primary-shadow-color) 0px 5px 10px;
}

.self-intro {
  width: 400px;
  padding: 60px 0px;
  font-size: 18px;
  color: var(--primary-color);
}

.profile-img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  box-shadow: 2px 2px 20px var(--primary-shadow-color);
  overflow: hidden;
  object-position: center center;
  object-fit: contain;
}

.profile-img img {
  width: 100%;
  height: auto;
  filter: grayscale(70%);
  animation-name: image-zoom;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes image-zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* skills */
section#skills {
  flex-direction: column;
  row-gap: 60px;
  background-color: var(--primary-color);
}

.skills-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 80px;
}

.skills-icon {
  width: 60px;
  height: 60px;
  transition: width 1s;
}

.skills-icon img {
  width: 100%;
  height: auto;
  filter: grayscale(40%);
  cursor: pointer;
  transition: .5s ease-out;
}

.skills-icon.vertical img {
  width: auto;
  height: 100%;
}

.skills-name {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 14px;
  letter-spacing: 1px;
  padding-top: 10px;
  color: var(--secondary-color);
}

.skills-icon img:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

/* experiences */
section#experiences {
  flex-direction: column;
}

section#experiences h1 {
  font-size: 50px;
  color: var(--primary-color);
  letter-spacing: 5px;
  padding: 30px;
  margin-bottom: 30px;
  border: 10px solid var(--primary-color);
}

.timeline-wrapper {
  position: relative;
  text-align: center;
  width: 100%;
  height: 240px;
}

.small-size-wrapper {
  display: none;
}

.timeline-wrapper .timeline-area {
  height: 100%;
}

.line-area {
  position: absolute;
  top: 49%;
  left: 10%;
  width: 80%;
  height: 5px;
  background: var(--primary-color);
}

.single-item {
  width: 6%;
  height: 100%;
  display: inline-block;
  position: relative;
  margin-left: 70px;
  transition: width .5s;
  z-index: 1;
}

.single-item > span {
  height: 32px;
  display: block;
  position: absolute;
  top: 50%;
  color: var(--primary-color);
  margin-top: -8px;
  width: 100%;
  cursor: pointer;
}

.single-item > span:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--primary-color);
  margin: 0 auto 8px;
  border-radius: 50%;
}

.timeline-image {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -50%;
  width: 100%;
}

.timeline-image img {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  transform: scale(0.8);
  border: 5px solid var(--primary-color);
}

.timeline-image > span {
  position: absolute;
  width: 250%;
  margin-left: -72%;
  left: 0;
  white-space: nowrap;
  color: var(--primary-color);
}

.single-item.active {
  width: 10%;
}

.single-item.active .timeline-image {
  display: block;
}

/* portfolio */
section#projects {
  background-color: var(--primary-color);
}

/* contact */
.contact-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 100px;
  color: var(--primary-color);
}

.contact-title + p {
  letter-spacing: 1px;
  margin: 5px 0 20px 0;
}

.contact-title {
  font-size: 18px;
  letter-spacing: 2px;
  margin: 10px 0;
}

h1.contact-title {
  font-size: 30px;
}

.contact-row {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

input, textarea {
  width: 200px;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Protest Riot", sans-serif;
  border: 2px solid #e8e0e0cf;
  transition: 0.5s;
  outline: none;
}

textarea {
  width: 280px;
  height: 100px;
  resize: none;
  z-index: 1001;
}

input:focus, textarea:focus {
  border: 2px solid var(--primary-color);
}

button {
  width: 150px;
  height: 30px;
  padding: 0;
  margin: 10px 0;
  border-radius: 20px;
  border: none;
  color: var(--white-color);
  background-color: var(--primary-color);
  box-shadow: 1px 1px 8px var(--primary-shadow-color);
  z-index: 1001;
  cursor: pointer;
  transition: background-color .3s ease-in;
}

button:hover {
  background-color: var(--primary-shadow-color);
}

/* footer */
footer {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: var(--primary-color);
}

footer p {
  color: var(--secondary-color);
  height: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../public/images/footer-wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 5s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 5s linear infinite;
}

footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 40px;
  animation: animateWave_02 8s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

/* RWD */
@media screen and (max-width: 992px) {
  section {
    padding: 20px 30px;
  }

  /* RWD navbar */
  .navbar .navbar-menu .hideOnMobile {
    display: none;
  }

  .navbar .navbar-menu .hideOnDesktop {
    display: block;
  }

  .navbar .side-menu a {
    font-size: 30px;
    text-shadow: 5px 5px 10px var(--primary-shadow-color);
    text-decoration: none;
    color: var(--secondary-color);
    cursor: pointer;
  }

  .navbar .side-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 1200;
    background: var(--primary-shadow-color);
    backdrop-filter: blur(5px);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  #navbar-ham-path {
    fill: var(--primary-color);
  }

  /* RWD about */
  section#about {
    flex-direction: column;
  }

  .greeting-word, .family-name {
    font-size: 30px;
    text-align: center;
  }

  .self-intro {
    width: auto;
    font-size: 14px;
    padding: 30px 10px 0;
    text-align: center;
  }

  .profile-img {
    width: 300px;
    height: 300px;
    margin-top: 30px;
  }

  .contact-content, .contact-row {
    display: block;
    margin: 0 auto;
  }

  .contect-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .contact-title {
    font-size: 14px;
    margin: 5px 0;
  }

  .contact-title + p {
    margin: 0;
  }

  input {
    width: 280px;
    height: 25px;
  }

  textarea {
    height: 35px;
  }

  /* RWD skills */
  .skills-row {
    column-gap: 50px;
  }
  .skills-icon {
    width: 30px;
    height: 30px;
    transition: width 1s;
  }

  /* RWD experiences */
  section#experiences h1 {
    font-size: 25px;
    padding: 20px;
    letter-spacing: 0;
  }

  .timeline-wrapper {
    display: none;
  }

  .small-size-wrapper {
    display: block;
  }

  .experiences-row {
    display: flex;
    column-gap: 30px;
    margin: 30px 0;
  }

  .time-year, .experiences {
    font-size: 16px;
    white-space: nowrap;
  }
}